doctype html
html
    head
        meta(charset='utf-8')
        title hello.pug
        script(type='text/javascript').
            var foo=false;
            function hi(){
                alert('hello');
                return 1;
            }
            if(foo){
                var h = hi();
                alert(h);
            }
    body
        h1 hello pug