doctype html
html
    head
        meta(charset='utf-8')
        title welcome
    body
        h1 WELCOME! #{user.displayname}
        form(action="/user/delete", method="post")
            input(type="hidden", name="_method" value='delete')
            input(type="hidden", name="username" value=user.username)
            input(type="submit", value="사용자 삭제")